@page "/installation/{societyId}"
@inherits InstallationComponentBase

@if (Model != null)
{
    <div class="wrapper">

        <div class="sidebar">
            <IndustrialEnergy.Pages.Auth.Installation.InstallationSideMenu Model="Model" />
        </div>
        <div class="body">
            <IndustrialEnergy.Pages.Auth.Installation.InstallationBody Model="Model" />
        </div>
    </div>
}
else
{

}

@code {
    [Parameter]
    public string SocietyId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (System.User != null && !string.IsNullOrEmpty(SocietyId))
        {
            await GetInstallationConfiguration(SocietyId);
        }
    }
}
