
@if (Model != null && Society != null)
{
    <h3>Installation of</h3> <p> @Society.Name</p>

    @if (Cogenerators.Count > 0)
    {
        <div style="width:25%;height:auto;">
            <Chart Config="_config"></Chart>
        </div>

        foreach (Cogenerator c in Cogenerators)
        {
            <p>@c.ModelName @c.InstallationArea</p>
        }
    }


}


@code {
    [Parameter]
    public InstallationModel Model { get; set; }
    [Parameter]
    public SocietyModel Society { get; set; }
    private PieConfig _config;

    public List<Cogenerator> Cogenerators { get; set; }
    public List<Boiler> Boilers { get; set; }
    public List<Absorber> Absorbers { get; set; }
    public List<HeatPump> HeatPumps { get; set; }

    protected override void OnInitialized()
    {
        if (Model != null && Model.Strucutres != null)
        {
            Cogenerators = Model.Strucutres.CogeneratorList;
            if (Cogenerators.Count() > 0)
            {
                var x = new Dictionary<string, double>();
                x.Add("test", 0.12);
                x.Add("prova", 1.44);
                x.Add("box", 2.51);
                _config = ChartService.SetConfigPieChart("title", x);
            }

            Boilers = Model.Strucutres.BoilerList;
            Absorbers = Model.Strucutres.AbsorberList;
            HeatPumps = Model.Strucutres.HeatPumpList;
        }

    }

}
