@page "/installation/{societyId}"
@inherits InstallationComponentBase

@if (Model != null)
{
    @*<div class="sidebar">
            <IndustrialEnergy.Pages.Auth.Installation.InstallationSideMenu Model="Model" />
        </div>
        <div class="body-right-sidebar">
            @ChildContent
        </div>*@
    <div class="body-right-sidebar">
        <IndustrialEnergy.Pages.Auth.Installation.InstallationBodyPage Model="Model" Society="Society" />
    </div>

}
else
{
    <p>No Installation Found for this Society</p>
}

@code {
    [Parameter]
    public string SocietyId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (System.User != null && !string.IsNullOrEmpty(SocietyId))
        {
            if (!string.IsNullOrEmpty(SocietyId))
            {
                await GetSocietyById(SocietyId);
                await GetInstallationConfiguration(SocietyId);
            }
        }

    }
}
