@page "/Society"
@inherits SocietyBase
@attribute [Authorize]

<div class="card mt-4">
    <h6>Society</h6>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await GetAllCurrentSociety();
    }
}