@page "/"
@using IndustrialEnergy.Components
@inject ILocalStorageService localStore
@inject IJSRuntime _JsRuntine
@inject ServiceComponent Service

<h1>Hello, world!</h1>

<div class="col-md-6">
    User Id:
    <input class="form-control" @bind="userId" />
    Password:
    <input class="form-control" @bind="pass" />
    <br />

    <button class="btn btn-info" @onclick="@(() => CreateToken())"> Login / Create Token</button>
    <button class="btn btn-info" @onclick="@(() => PostMethod())"> Post</button>
    <hr />
    <br />

    <label class="col-form-label">@Bearer</label>
    <label class="col-form-label">@Message</label>

</div>

@code{
    string userId;
    string pass;
    string Message;

    [Parameter]
    public string Bearer { get; set; }

    public async void CreateToken()
    {
        Message = "";

        var response = Service.ResponseJson("http://localhost:61171/api/login?userId=" + userId + "&pass=" + pass + "", null, null, null, RestSharp.Method.GET);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var token = JsonConvert.DeserializeObject<Dictionary<string, string>>(response.Content)["token"].ToString();
            await localStore.SetItemAsync("jwt", "Bearer " + token);

            Message = "Create Token Success:" + response.StatusCode.ToString();
        }
        else
        {
            Message = "Create Token Error:" + response.StatusCode.ToString();

        }

    }


    public async void PostMethod()
    {
        Message = "";
        string token = await localStore.GetItemAsync<string>("jwt");
        Dictionary<string, string> header = new Dictionary<string, string>();
        header.Add("Authorization", token);
        var value = Guid.NewGuid().ToString();

        var response = Service.ResponseJsonAuth("http://localhost:61171/api/login", value, header, RestSharp.Method.POST);

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            Message = "Post Success:" + response.StatusCode.ToString();
        }
        else
        {
            Message = "Post Error:" + response.StatusCode.ToString();

        }
    }
}