@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div class="page">
    <Spinner />
    <Toast />
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @if (AuthenticationService.IsValidToken())
        {
            <TopMenu />
        }
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
