@inherits LayoutComponentBase
@using IndustrialEnergy.Pages.Shared.Spinner
@using Blazored.Toast.Configuration


<div class="main">
    <Spinner />
    <div class="page">
        <TopNavBar />
    </div>

    <div class="content">
        @Body
    </div>
</div>


<BlazoredToasts Position="ToastPosition.BottomCenter"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
