@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div class="page">
    <Spinner />
    <Toast />
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <TopNavBar />

        <div>
            @Body
        </div>
    </div>
</div>
