@inherits LayoutComponentBase
@using IndustrialEnergy.Pages.Shared.Spinner
@using Blazored.Toast.Configuration

<div class="page">
    <Spinner />
    <div class="main">
        <TopNavBar />
        <div>
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomCenter"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
