@inherits LayoutComponentBase
@using IndustrialEnergy.Pages.Shared.Spinner
@using IndustrialEnergy.Pages.Shared.Toast

<div class="page">
    <Spinner />
    <Toast />
    <div class="main">
        <TopNavBar />
        <div>
            @Body
        </div>
    </div>
</div>
