@inherits MenuComponent

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            @if (System.User != null)
            {
                <li class="nav-item">
                    <NavLink class="nav-link dropdown-item" href="society">
                        Society
                    </NavLink>
                </li>
            }
        </ul>
        <ul class="navbar-nav">
            @if (System.User == null)
            {
                <li class="nav-item">
                    <NavLink class="nav-link dropdown-item" href="login">
                        Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link dropdown-item" href="signUp">
                        SignUp
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link dropdown-item" href="forgotPassword">
                        Forgot Password
                    </NavLink>
                </li>
            }
            else
            {
                // show user information
            }
        </ul>
    </div>
</nav>